
 <% if(comment) { %>
    <div style="width: 50%">
        <div class="dialogbox">
            <div class="body">
              <span class="tip tip-up"></span>
              <div class="message">
         
   
      <p>
        <%= comment.body %>
      </p>

        sent by <%= comment.User.email %> on <%= comment.createdAt %>
      </div>
    </div>
  </div>
     

      <% if(currentUser && currentUser.id === comment.userId || currentUser.isAdmin()) { %>
        <form style="display:initial"
              action="/recipes/<%= recipe.id %>/comments/<%= comment.id %>/destroy"
              method="post">
          <button type="submit" class="btn btn btn-sm btn-outline-danger">Delete</button>
        </form>
      <% } %>
     
    </div>
  <% } %>