<!DOCTYPE html>
<html>

<head>
  <% include ../static/partials/head.ejs %>
</head>

<body>
  <% include ../static/partials/navbar.ejs %>

  <main class="container">

    <% include ../static/partials/messages.ejs %>

    <h1>
      <%= recipe.title %>
    </h1>
    <% if(currentUser) { %>
    <a href="/recipes/<%= recipe.id %>/edit" class="btn btn-warning">Edit</a>
    <form style="display:initial" action="/recipes/<%= recipe.id %>/destroy" method="post">
      <button type="submit" class="btn btn-danger">Delete</button>
    </form>
    <% } %>
    <p>Style:
      <%= recipe.style %>
    </p>

    <p>Ingredients:
      <%= recipe.ingredients %>
    </p>
    <p>Directions:
      <%= recipe.directions %>
    </p>

  </main>

  <% include ../static/partials/baseScripts.ejs %>
</body>

</html>