<!DOCTYPE html>
<html>

<head>
  <% include ../static/partials/head.ejs %>

</head>

<body class="recipeShow">
  <main class="container">
  <div class="pagecontent">

    <% include ../static/partials/navbar.ejs %>


    <% include ../static/partials/messages.ejs %>

    <div class="form-group">
      <div class="form-control">
      
        <div id="beerName"> <%= recipe.title %></div>
      </div>
    <section id="brewStyle">
      <p>
      Style: <%= recipe.style %></p>
    </section>
    </div>
    <details>
      <summary>Ingredients</summary>
    
      <%= recipe.ingredients %>

    
    </details>
      <details>
        <summary>Directions</summary>
      <%=recipe.directions %>

      </details>
          <section id="comment-form">


            <% if(currentUser) { %>
            <% include ../comments/new.ejs %>
            <% } %>
          </section>


          <section id="comment-list">
            <% if(recipe.comments) { %>
            <% recipe.comments.forEach((comment) => { %>


            <%- include("../comments/show.ejs", {comment}) %>
            <% }) %>
            <% } %>
          </section>
          <% if(currentUser) { %>
          <a href="/recipes/<%= recipe.id %>/edit" class="btn btn-warning">Edit</a>
          <form style="display:initial" action="/recipes/<%= recipe.id %>/destroy" method="post">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
          <% } %>
          <div id="votestyle" display: flex; align-items:left;>
            <% if(currentUser) { %>
            <% include ../votes/voting.ejs %>
            <% } %>
            <h1>
              <%= recipe.title %>
            </h1>
          </div>

          </main>

          <% include ../static/partials/baseScripts.ejs %>
</body>

</html>