<!DOCTYPE html>
<html>

<head>
  <% include ../static/partials/head.ejs %>

</head>

<body class="recipeShow">
  <main class="container">
  <div class="pagecontent">

    <% include ../static/partials/navbar.ejs %>


    <% include ../static/partials/messages.ejs %>

    <div class="form-group">
      <div class="form-control">
      
        <div id="beerName"> <%= recipe.title %></div>
      
    <section id="brewStyle">
        <div id="voteStyle">
            <% if(currentUser) { %>
            <% include ../votes/voting.ejs %>
            <% } %>
        
          </div>
      <p>
      Style: <%= recipe.style %>
    </p>
    </section>
    </div>
<br>

    <% if(currentUser) { %>
      <a href="/recipes/<%= recipe.id %>/edit" class="btn btn-outline-info">Edit</a>


<% } %>

<br>
    <details>
      <summary>Ingredients</summary>
    
      <%= recipe.ingredients %>

    
    </details>
      <details>
        <summary>Directions</summary>
      <%=recipe.directions %>

      </details>
    </div>
          <section id="comment-form">


            <% if(currentUser) { %>
            <% include ../comments/new.ejs %>
            <% } %>
          </section>
  

          <section id="comment-list">
            <% if(recipe.comments) { %>
            <% recipe.comments.forEach((comment) => { %>


            <%- include("../comments/show.ejs", {comment}) %>
            <% }) %>
            <% } %>
          </section>

  
       

          </main>

          <% include ../static/partials/baseScripts.ejs %>
</body>

</html>